<div class="car">
    <header class="header">
        <div class="title">
            <span>服务</span>
            <span>金融</span>
        </div>
    </header>
    <section class="section">
        <swiper></swiper>
        <list-x></list-x>
        <div class="title">车主服务</div>
        <action-module></action-module>
        <div class="title">限时抢购</div>
        <hot-sale></hot-sale>
        <div class="title">活动专区</div>
    </section>
    <footer class="footer">
        <dl>
            <dt>
                <i class="iconfont">&#xe6cc;</i>
            </dt>
            <dd>
                首页
            </dd>
        </dl>
        <dl>
            <dt>
                <i class="iconfont">&#xe6cc;</i>
            </dt>
            <dd>
                论坛
            </dd>
        </dl>
        <dl>
            <dt>
                <i class="iconfont">&#xe6cc;</i>
            </dt>
            <dd>
                选车
            </dd>
        </dl>
        <dl>
            <dt>
                <i class="iconfont">&#xe6cc;</i>
            </dt>
            <dd>
                发现
            </dd>
        </dl>
        <dl>
            <dt>
                <i class="iconfont">&#xe6cc;</i>
            </dt>
            <dd>
                登录
            </dd>
        </dl>
    </footer>
</div>