<div class="hot-sale">
    <div>
        <dl>
            <dt></dt>
            <dd>
                <p>补胎工具</p>
                <p>￥: <span>999</span></p>
            </dd>
        </dl>
        <dl>
            <dt></dt>
            <dd>
                <p>补胎工具</p>
                <p>￥: <span>999</span></p>
            </dd>
        </dl>
        <dl>
            <dt></dt>
            <dd>
                <p>补胎工具</p>
                <p>￥: <span>999</span></p>
            </dd>
        </dl>
        <dl>
            <dt></dt>
            <dd>
                <p>补胎工具</p>
                <p>￥: <span>999</span></p>
            </dd>
        </dl>
    </div>
</div>